<h1 class="ui header">
  Players
  <div class="sub header">
    The leaderboard
  </div>
</h1>

<div class="ui segment">
  <table class="ui celled table">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>ELO</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.elo }}</td>
      </tr>
    </tbody>
  </table>
  <lsu-loader [active]="activeLoader" [loaderText]="'Loading...'"></lsu-loader>
</div>
<div style="padding:5px 0;" *ngIf="!pagerDisabled">
  <lsu-pagination [disabled]="pagerDisabled" [totalCount]="totalCount" [pageSize]="pageSize" [currentPage]="currentPage" [maxSize]="maxSize" [options]="pageOptions" (onSelectPage)="onSelectPage($event)"></lsu-pagination>
</div>

<form [formGroup]="newPlayerForm" class="ui form" (ngSubmit)="addPlayer(player)">
  <div class="field">
    <label>Name</label>
    <input formControlName="name" type="text" placeholder="Name">
    <p *ngIf="newPlayerForm.controls.name.errors">This field is required!</p>
  </div>
  <button class="ui button" type="submit">Add player</button>
</form>